*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --ff-primary: Montserrat, Roboto, sans-serif;
    --ff-secondary: Lato, Monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

html {
    scroll-behavior: smooth;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"),
    var(--color-darkblue-alpha);
    color: var(--color-white);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    overflow-x: hidden;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    margin: 0;
    padding: 0 auto;
}

#description {
   margin-top: -0.5em;
}

label,
select {
  width: 100%;
}

.fields {
  width: inherit;
  height: 2rem;
  border-radius: .3em;
  position: relative;
  justify-self: center;
  padding-left: 10px;
  font-size: 16px;
  font-family: Lato;
}

.fields:active {
  border: .3em solid lightblue;
}

#survey-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 40vw;
    height: auto;
    background: var(--color-darkblue-alpha);
    border-radius: 0.3em;
    padding: 2em 2em;
    color: var(--color-white);
}
